///////////////////////
// Colors
///////////////////////
$color_red: #702F31;
$color_red_bright: #7F2728;
$color_red_soft: #83736B;

///////////////////////
// Menus
///////////////////////
$menu_border_radius: .5em;

///////////////////////
// Breakpoints
///////////////////////
$breakpoint_menu: 769px;
$breakpoint_menu_wide: 950px;

