*, *:before, *:after {
  box-sizing: border-box;
}

body {
  font-family: 'Muli', Helvetica, Verdana, Arial, Sans-Serif;
  font-weight: 300;
  background: $color_red;
}

h1, h2, h3, h4, h5, h6, a {
  color: $color_red_bright;
  font-weight: normal;
}

a {
  text-decoration: none;
}

#page {
  position: relative;
  background: #fff;
  width: 96%;
  margin: 0 auto 1em auto;
  padding: 2em 1em;
  max-width: 1200px;
}
#logo {
  width: 90px;
  float: left;
}

#header {
  @include breakpoint($breakpoint_menu_wide) {
    padding-left: 4em;
  }
}

#name-and-slogan {
  border-bottom: 1px solid $color_red_soft;

  @include breakpoint($breakpoint_menu_wide) {
    margin-left: -4em;
  }
}
#site-name {
  padding-top: 2em;
  font-size: 1.5em;
  text-transform: lowercase;
  font-weight: bold;

  @include breakpoint($breakpoint_menu) {
    padding-top: 1em;
    font-size: 2em;
  }
}

#copyright {
  color: $color_red;
  font-size: .65em;
  position: absolute;
  bottom: .25em;
  right: .25em;
}
