.responsive-menus {
  @include breakpoint($breakpoint_menu) {
    @include float-span(1, 'first');
  }
}

.responsive-menus.responsified {
  position: absolute;
  top: 2.5em;
  right: .5em;

  span.toggler {
    width: 1.5em;
    background: #fff;
    float: right;
    box-shadow: none;
    border-radius: 0;
    color: $color_red;
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
  }

  &.responsive-toggled {
    span.toggler {
      border-bottom: none;
    }

    &.absolute {
      position: absolute;

      .responsive-menus-simple {
        top: 0;
        width: 75%;
        margin-top: 2em;
        right: 0;
        box-shadow: -2px 2px 10px #000;
        background: $color_red_soft;
        border-radius: $menu_border_radius;

        li {
          text-align: center;

          & a:hover {
            background-color: lighten($color_red_soft, 5);
          }
          &:last-of-type a {
            border-bottom: none;
            border-bottom-left-radius: $menu_border_radius;
            border-bottom-right-radius: $menu_border_radius;
          }
          &:first-of-type a {
            border-top-left-radius: $menu_border_radius;
            border-top-right-radius: $menu_border_radius;
          }
        }
      }
    }
  }
}

#main-menu {
  margin-top: -7em;
  padding-top: 10em;

  a {
    color: $color_red_bright;
    font-weight: bold;
    display: inline-block;
    padding: 1em;

    &.active,
    &:hover {
      color: $color_red_soft;
    }
  }

  @include breakpoint($breakpoint_menu_wide) {
    padding-bottom: 10em;
    margin-left: 2em;
    border-left: 1px solid $color_red_soft;
  }
}

